body {
   width: 250px;
   height: 400px;
   margin: 0;
   padding: 0; 
}

.title {
    text-align: center;
    width: 100%;
}

input {
    width: 60%;
    height: 25px;
    position: absolute;
    left: 8%;
    margin-top: 10px;
}